@model IEnumerable<MyFabricStashApp.Models.FabricListViewModel>
@{
    ViewBag.Title = "My Fabric Stash Home";
}
<!-- Full Width Image Header -->
<header class="header-image">
    <div class="headline">
        <div class="container">
            <h1>My Fabric Stash</h1>
            <h2>is a web app that helps you organize your fabrics.</h2>
        </div>
    </div>
</header>
<div class="row">

    <h1>Featured Fabrics</h1>
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/images/@item.ImagePath" alt="" width="200" />
                <div class="caption">
                    <h3>@item.Name </h3>
                    Quantity: @item.TotalInches inches<br />
                    Item Location: @item.Location<br />
                    Purchases: @item.PurchaseCount<br />
                    @*<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>*@
                    @Html.ActionLink("See Details >>", "Details", "Fabric", new { id = item.FabricId }, null)
                </div>
            </div>
        </div>

    }

</div>