@model IEnumerable<MyFabricStashApp.Models.ReceiptsListViewModel>

@{
    ViewBag.Title = "Receipts List";
}

<h2>Receipts List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Receipt Image
        </th>
        <th>
            Receipt Number
        </th>
        <th>
            Date
        </th>
        <th>
            Source
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src='~/receipts/@item.ReceiptImagePath' width="150" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ReceiptId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ReceiptId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ReceiptId })
        </td>
    </tr>
}

</table>
