@model MyFabricStashApp.Models.Source

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Source</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourcePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourcePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SourceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
