@model IEnumerable<MyFabricStashApp.Models.Source>

@{
    ViewBag.Title = "Index";
}

<h2>Sources List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Source Name
        </th>
        <th>
            Street Address
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip
        </th>
        <th>
           Phone
        </th>
        <th>
            URL
        </th>
        <th>
            Notes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SourceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourcePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SourceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SourceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SourceId })
        </td>
    </tr>
}

</table>
