@model MyFabricStashApp.Models.Fabric

@{
   ViewBag.Title = Model.Name + " | Details";
}

<h2>@Model.Name | Details</h2>

<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="/images/@Model.ImagePath" width="300" alt="thumbnail" />
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">@Model.MainCategory.Name / @Model.SubCategory1.Name </h4>
        Name: @Model.Name<br />
        Quantity: @Model.TotalQty yd(s)<br />
        Location: @Model.Location<br />
        Sold to Date: <span style="color: red; font-weight: bold">@Model.ItemsSold</span><br />
        Purchases:<br />
        @Html.ActionLink("Edit", "Edit", new { id = Model.FabricId })
        
    </div>
    <p>
        
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>