@model MyFabricStashApp.Models.Fabric

@{
   ViewBag.Title = Model.Name + " | Details";
}

<h2>@Model.Name | Details</h2>

<div class="media">
    <div class="media-left">
            <img class="media-object" src="/images/@Model.ImagePath" width="300" alt="thumbnail" />
    </div>
    <div class="media-body">
        <h4 class="media-heading">@Model.MainCategory.Name / @Model.SubCategory1.Name </h4>
        Name: @Model.Name<br />
        Quantity: @Model.TotalInches inches<br />
        Location: @Model.Location<br />
        Purchases:<br />
        @Html.ActionLink("Edit Details", "Edit", new { id = Model.FabricId })
        <!--set htmlAttributes to null to pick correct overload-->
        @*@Html.ActionLink("Purchases", "FabricPurchases", "Purchases", new { id = Model.FabricId}, null)*@
        
    </div>
    <br />
    <div>
        <h2>Purchases For @Model.Name</h2>
        @Html.ActionLink("Create New", "CreateFabricPurchase", "Purchases", new { id = Model.FabricId}, null)
        @Html.Partial("~/Views/Purchases/_Purchases.cshtml", Model.Purchases.OrderByDescending(d => d.PurchaseDate))
    </div>
    <p>
        @Html.ActionLink("Back to Fabrics List", "Index")
    </p>
</div>